.forgot-password-page {
  div.row > div.row__cell.reset-form {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
  }
  @media (max-width: 800px) {
    div.row > div.row__cell.reset-form {
      flex: 0 0 80%;
      -webkit-flex: 0 0 80%;
      -moz-flex: 0 0 80%;
      -ms-flex: 0 0 80%;
    } 
  }
  @media (max-width: 600px) {
    div.row > div.row__cell.reset-form {
      flex: 0 0 calc(100% - 10px);
      -webkit-flex: 0 0 calc(100% - 10px);
      -moz-flex: 0 0 calc(100% - 10px);
      -ms-flex: 0 0 calc(100% - 10px);
    } 
  }

  .error {
    color: #ff4a88;
  }
}