<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta keywords="photo backup,photo storage,photo cloud,organize photos,store photos,share photos,preserve photos" />
    <meta description="Automatically store and organize your photos from all your devices so you can view them on any device." />
    <title>Apertura: Store and organize your photos</title>
      <!-- BEGIN standard dependencies -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
      <script type="text/javascript" src="bundle.js"></script>
      <link type="text/css" rel="stylesheet" href="bundle.css" />
      <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-78679351-1', 'auto');
        ga('send', 'pageview');
      </script>
      <!-- END standard dependencies -->
  </head>
  <body ng-app="apertura" ng-controller="ForgotPasswordPage" class="forgot-password-page">
    <page-header></page-header>
    

      <main>
        <section class="breathe">
          <div class="row">
            <div class="row__cell"></div>
            <div class="row__cell reset-form">
              <div class="well">
                <h1>Password Reset</h1>
                Go ahead and provide your email address and a new password.
                <form onsubmit="return false;">
                  <div class="breathe">
                    <input type="text" ng-model="email" placeholder="email" />
                  </div>
                  <div class="breathe">
                    <input type="password" ng-model="password" placeholder="new password" />
                  </div>
                  <div class="breathe">
                    <input type="password" ng-model="password2" placeholder="confirm password" />
                  </div>
                  <div class="breathe text-right">
                    <input type="submit" ng-click="resetPassword()" value="Save" ng-hide="isSaving"/>
                    <wait-indicator ng-show="isSaving"></wait-indicator>
                  </div>
                  <div ng-show="errorMessage != ''" class="error">
                    {{ errorMessage }}
                  </div>
                </form>
              </div>
            </div>
            <div class="row__cell"></div>
          </div>
        </section>
        
      </main>
    
  </body>
</html>