<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>Browse Recently Added Photos</title>
      <!-- BEGIN standard dependencies -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
      <script type="text/javascript" src="bundle.js"></script>
      <link type="text/css" rel="stylesheet" href="bundle.css" />
      <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
      <link rel="manifest" href="assets/images/favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <meta name="theme-color" content="#ffffff">
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-78679351-2', 'auto');
        ga('send', 'pageview');
      </script>
      <!-- END standard dependencies -->
  </head>
  <body ng-app="AperturaApp" ng-controller="BrowseRecentPage" class="browse-recent-page">

    <page-header></page-header>
    <div class="container">
      <main>

        <div ng-hide="isLoadingPhotos">
          <div class="row row--vertical-bottom">
            <div class="row__cell">
              <h1>Recently Added Photos</h1>
              <div>Photos added during the past {{ timeframe }}.</div>
            </div>
            <div class="row__cell row__cell--fixed">
              <span class="icon icon--button icon-slideshow" ng-click="startSlideshow()"></span>
            </div>
          </div>

          <div class="breathe">
            <div class="row row--wrap row--spaced">
              <div class="row__cell row__cell--img" ng-repeat="photo in photos">

                  <thumbnail photo="photo" photos="photos" on-click="openLightBox"></thumbnail>

              </div>
              <div class="row__cell row__cell--blank"></div>
              <div class="row__cell row__cell--blank"></div>
              <div class="row__cell row__cell--blank"></div>
              <div class="row__cell row__cell--blank"></div>
              <div class="row__cell row__cell--blank"></div>
            </div>
          </div>

          <lightbox photo="lightBoxPhoto" photos="photos"></lightbox>
          <selection></selection>
          <slideshow></slideshow>
        </div>

        <div ng-show="isLoadingPhotos" class="text-center">
          <wait-indicator></wait-indicator>
        </div>

      </main>
    </div>

  </body>
</html>