.browse-by-day-page {
  div.row > div.row__cell.row__cell--tagging {
    flex: 1 0 300px;
    -webkit-flex: 1 0 300px;
    -moz-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
  }
  div.row > div.row__cell.row__cell--blank {
    flex: 1 0 300px;
    -webkit-flex: 1 0 300px;
    -moz-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
  }
  @media screen and (max-width: 480px) {
    div.row > div.row__cell.row__cell--tagging {
      flex: 0 0 calc(100% - 10px);
      -webkit-flex: 0 0 calc(100% - 10px);
      -moz-flex: 0 0 calc(100% - 10px);
      -ms-flex: 0 0 calc(100% - 10px);
    }
    div.row > div.row__cell.row__cell--blank {
      flex: 0 0 0;
      -webkit-flex: 0 0 0;
      -moz-flex: 0 0 0;
      -ms-flex: 0 0 0;
    }
  }
}